{% extends 'base.html' %}
{% load static %}
{% block title %}Lesson Progress{% endblock title %}
{% block headername %}Lesson Progress - <strong>Grade 11</strong>{% endblock headername %}

{% block maincontent %}
<div class="container-fluid">
    <div class="card">

        <div class="card card-widget widget-user-2">
            <div class="widget-user-header bg-primary blue-gradient">
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="{% static 'img/user7-128x128.jpg' %}" alt="User Avatar">
                </div>

                <h3 class="widget-user-username">Sneha Singh</h3>
                <h5 class="widget-user-desc">Incharge</h5>
            </div>
        </div>
        
        
        <div class="p-4">
            <h3 class="card-title"><strong>Section A</strong></h3>
        </div>
        <div class="card-header card-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Subject</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending">Semester 1</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Semester 2</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="">Overall Completion</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="">Professor</th>
                        <th class="actions" tabindex="0" aria-controls="example1" rowspan="1" colspan="3" aria-label="Actions" style="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr class="odd">
                            <td>English</td>
                            <td>56%</td>
                            <td>0%</td>
                            <td style="">56%</td>
                            <td style="">Poonam Jaiswal</td>
                            <td style="">
                                <a href=""><button type="button" class="btn btn-block rounded-pill btn-primary"><i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></a>                            </td>
                            <td style="">
                                <button type="button" class="btn btn-block rounded-pill btn-warning"><i class="fas fa-download"></i>&nbsp;&nbsp;Syllabus</button>&nbsp;&nbsp;
                            </td>
                        </tr>

                        
                        <tr class="odd">
                            <td>Maths</td>
                            <td>56%</td>
                            <td>0%</td>
                            <td style="">56%</td>
                            <td style="">Sandeep Singh</td>
                            <td style="">
                                <a href=""><button type="button" class="btn btn-block rounded-pill btn-primary"><i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></a>
                            </td>
                            <td style="">
                                <button type="button" class="btn btn-block rounded-pill btn-warning"><i class="fas fa-download"></i>&nbsp;&nbsp;Syllabus</button>&nbsp;&nbsp;
                            </td>
                        </tr>

                        <tr class="odd">
                            <td>EVS</td>
                            <td>56%</td>
                            <td>0%</td>
                            <td style="">56%</td>
                            <td style="">Ajay Aggarwal</td>
                            <td style="">
                                <a href=""><button type="button" class="btn btn-block rounded-pill btn-primary"><i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></a>                            </td>
                            <td style="">
                                <button type="button" class="btn btn-block rounded-pill btn-warning"><i class="fas fa-download"></i>&nbsp;&nbsp;Syllabus</button>&nbsp;&nbsp;
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Grade</th>
                            <th rowspan="1" colspan="1">Semester 1</th>
                            <th rowspan="1" colspan="1">Semester 2</th>
                            <th rowspan="1" colspan="1">Overall Completion</th>
                            <th rowspan="1" colspan="1">Incharge</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
        
        <div class="p-4">
            <h3 class="card-title"><strong>Section B</strong></h3>
        </div>
        <div class="card-header card-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Subject</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending">Semester 1</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Semester 2</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="">Overall Completion</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="">Professor</th>
                        <th class="actions" tabindex="0" aria-controls="example1" rowspan="1" colspan="3" aria-label="Actions" style="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr class="odd">
                            <td>English</td>
                            <td>56%</td>
                            <td>0%</td>
                            <td style="">56%</td>
                            <td style="">Poonam Jaiswal</td>
                            <td style="">
                                <a href=""><button type="button" class="btn btn-block rounded-pill btn-primary"><i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></a>                            </td>
                            <td style="">
                                <button type="button" class="btn btn-block rounded-pill btn-warning"><i class="fas fa-download"></i>&nbsp;&nbsp;Syllabus</button>&nbsp;&nbsp;
                            </td>
                        </tr>

                        
                        <tr class="odd">
                            <td>Maths</td>
                            <td>56%</td>
                            <td>0%</td>
                            <td style="">56%</td>
                            <td style="">Sandeep Singh</td>
                            <td style="">
                                <a href=""><button type="button" class="btn btn-block rounded-pill btn-primary"><i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></a>
                            </td>
                            <td style="">
                                <button type="button" class="btn btn-block rounded-pill btn-warning"><i class="fas fa-download"></i>&nbsp;&nbsp;Syllabus</button>&nbsp;&nbsp;
                            </td>
                        </tr>

                        <tr class="odd">
                            <td>EVS</td>
                            <td>56%</td>
                            <td>0%</td>
                            <td style="">56%</td>
                            <td style="">Ajay Aggarwal</td>
                            <td style="">
                                <a href=""><button type="button" class="btn btn-block rounded-pill btn-primary"><i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></a>                            </td>
                            <td style="">
                                <button type="button" class="btn btn-block rounded-pill btn-warning"><i class="fas fa-download"></i>&nbsp;&nbsp;Syllabus</button>&nbsp;&nbsp;
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Grade</th>
                            <th rowspan="1" colspan="1">Semester 1</th>
                            <th rowspan="1" colspan="1">Semester 2</th>
                            <th rowspan="1" colspan="1">Overall Completion</th>
                            <th rowspan="1" colspan="1">Incharge</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>


  </div><!-- /.container-fluid -->
  <a href="#" class="rounded-circle add-btn blue-gradient"><h2 class="mb-0">+</h2></a>
  {% endblock maincontent %}