{% extends 'base.html' %}
{% load static %}
{% block title %}Sections{% endblock title %}
{% block headername %}Sections{% endblock headername %}

{% block maincontent %}
<div class="container-fluid">
    <div class="card">
        
        <div class="p-4">
            <h3 class="card-title">Branch - <strong>Delhi</strong></h3><br>
            <h3 class="card-title">Grade - <strong>1</strong></h3><br>
            <h3 class="card-title">Section - <strong>B</strong></h3>
        </div>
        <div class="card-header card-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Section</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending">Subjects</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending">Class Teacher</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Students</th>
                        <th class="actions" tabindex="0" aria-controls="example1" rowspan="1" colspan="3" aria-label="Actions" style="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr class="bg-white">
                            <td>A</td>
                            <td>5</td>
                            <td>Anand Swami</td>
                            <td style="">36</td>
                            <td colspan="2" class="d-flex flex-row align-center justify-content-around">
                                <a href="../users"><button type="button" class="btn rounded-circle btn-primary" style="width: 36px; height: 36px; display: grid; place-content: center;"><i class="fas fa-user"></i></button></a>
                                <a href="subjects"><button type="button" class="btn rounded-circle btn-warning" style="width: 36px; height: 36px; display: grid; place-content: center;"><i class="fas fa-book"></i></button></a>
                                <a href="#"><button type="button" class="btn rounded-circle btn-danger" style="width: 36px; height: 36px; display: grid; place-content: center;"><i class="fas fa-trash"></i></button></a>
                            </td>
                        </tr>

                        <tr class="bg-white">
                            <td>B</td>
                            <td>5</td>
                            <td>Surya Pratap</td>
                            <td style="">32</td>
                            <td colspan="2" class="d-flex flex-row align-center justify-content-around">
                                <a href="../users"><button type="button" class="btn rounded-circle btn-primary" style="width: 36px; height: 36px; display: grid; place-content: center;"><i class="fas fa-user"></i></button></a>
                                <a href="subjects"><button type="button" class="btn rounded-circle btn-warning" style="width: 36px; height: 36px; display: grid; place-content: center;"><i class="fas fa-book"></i></button></a>
                                <a href="#"><button type="button" class="btn rounded-circle btn-danger" style="width: 36px; height: 36px; display: grid; place-content: center;"><i class="fas fa-trash"></i></button></a>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Section</th>
                            <th rowspan="1" colspan="1">Subjects</th>
                            <th rowspan="1" colspan="1">Class Teacher</th>
                            <th rowspan="1" colspan="1">Students</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>


  </div><!-- /.container-fluid -->
  <a href="#" class="rounded-circle add-btn blue-gradient"><h2 class="mb-0">+</h2></a>
  {% endblock maincontent %}